<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Resultado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong><p>Média da temperatura:</p></strong>
  <ion-label>{{media}}⁰C</ion-label>

  <ion-item-divider></ion-item-divider>

  <strong><p>O que pode ser cultivado:</p></strong>
  <ion-list>
    <ion-item>
      <ion-label class="formatted-text">{{resultado}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item-divider></ion-item-divider><br>
  <div style="background-color: rgb(77, 141, 255); max-width: 200px; display: flex; justify-content: center; padding: 10px; border-radius: 5px;">
    <a href="/home" style="text-decoration: none; text-transform: uppercase; color: black; font-size: small;">Voltar</a>
  </div>
</ion-content>
