<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      AC01 - IONIC - 2ºTRI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Ajuste o valor da temperatura média do 1º mês</p>
  <ion-range (ionChange)="mes1($event)" [ticks]="true" [snaps]="true" [min]="-5" [max]="40" labelPlacement="end" style="max-width: 500px; padding-left: 10px;" label="{{Range_m1}}⁰C" [(ngModel)]="Range_m1"></ion-range><br>

  <p>Ajuste o valor da temperatura média do 2º mês</p>
  <ion-range (ionChange)="mes2($event)" [ticks]="true" [snaps]="true" [min]="-5" [max]="40" labelPlacement="end" style="max-width: 500px; padding-left: 10px;" label="{{Range_m2}}⁰C" [(ngModel)]="Range_m2"></ion-range><br>


  <ion-button expand="block" style="max-width: 200px;" (click)="abrirTela()">Verificar</ion-button>
</ion-content>
